<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>FlyingToasters</string>
	<key>CFBundleIdentifier</key>
	<string>com.warpspeed.flyingtoasters</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Flying Toasters</string>
	<key>CFBundleDisplayName</key>
	<string>Flying Toasters</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSPrincipalClass</key>
	<string>FlyingToastersView</string>
	<key>NSHumanReadableCopyright</key>
	<string>A faithful recreation of the After Dark Flying Toasters screensaver. Toaster and toast artwork redrawn from scratch for Retina.</string>
</dict>
</plist>
